<!-- ベーステンプレートを適用する -->
{% extends 'base.html' %}
{% load static %}
<!-- ヘッダー情報のページタイトルを設定する -->
{% block title %}LoginLogin{% endblock %}


{% block contents %}

<!--login.cssとの紐付け-->
<link rel="stylesheet" href={% static "appcss/login.css" %}>

<!--中心に持ってきたくて無理矢理余白を入れた。s-->
<br><br>
<br><br>


<!-- ログインのフォームを配置 -->
<!--<form method="post" name="form-login">-->
{% csrf_token %}  
<h1 class="h3 mb-3 fw-normal">Please Log in</h1>
<!-- Usernameのラベル(非表示) -->

<div id="login">
       <form method="POST" name='form-login'>
         <!--<span class="fontawesome-user"></span>-->
           <input type="text" id="user" placeholder="Username">
        
         <!--<span class="fontawesome-lock"></span>-->
           <input type="password" id="pass" placeholder="Password">
         
         <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login">

 
         <!-- ユーザー名とパスワードが一致しない場合のメッセージ -->
{% if form.errors %}
<div class=container4>
       <p>ユーザー名とパスワードが一致しません
</div>
{% endif %}


<br><br>
<p><a href="{% url 'password_reset' %}">パスワードを忘れましたか?</a></p>
</div>
<!-- ログイン直後のリダイレクト先(トップページ)のURLパターンを設定 -->
<input type="hidden"
       name="next"
       value="#">
</form>

{% endblock %}
  
