<!doctype html>
<html lang="ja">
  <head>
    <!-- マージン、パディング、背景色を設定するCSSを定義 -->
    <style>
      .pad{
        background-color: lavender;
        border: solid 2px;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 100px;
        margin-top: 50px;
        margin-right: 70px;
        margin-left: 70px;
      }
    </style>
  </head>

  <body>
    <div class="pad">
      <h2>Photo Gallery</h2>
      <h4>
        新しいパスワードを2回入力してください。これにより、
        正しく入力できたことが確認されます。
      </h4>
      <br />
      <!-- フォームを配置 -->
      <form action="" method="POST">
        {% csrf_token %}
        <!-- formに格納されている要素をすべてを出力 -->
        {{form}}
        <!-- パスワードリセットボタン -->
        <input type="submit" value="パスワードリセット"/>
      </form>
    </div>
  </body>
</html>
