<!doctype html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>テストWebアプリ</title>
    <link rel="stylesheet" href="{% static " css/style.css" %}" />
    <script src="{% static 'javascript/sample.js' %}"></script>
</head>

<body>
    <h1>index.html表示してます</h1>
    <img src="{% static " images/test_img.png" %}" alt="表示できません">
    <p>{{ insert_something }}</p>
    <p>作成者は<b id='test'>{{ name }}</b>です。</p>

    <form action="{% url 'webtestapp:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="送信">
    </form>

    <p>作成者は<b id="test">{{ name }}</b>です。</p>
    <h2>タイトル表示</h2>
    <ul>
        {% for title in test_titles %}
        {% if title == 'title 2' %}
        <li>{{ title }}</li>
        {% elif title == 'title 3' %}
        <li>見せられないよ</li>
        {% else %}
        <li>xxxx</li>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>