<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>テストWebアプリ</title>
</head>

<body>
    <h1>index.html表示してます</h1>
    {{ insert_something }}
    <p>作成者は<b>{{ name }}</b>です。</p>
    <h2>タイトル表示</h2>
    <ul>
        <ul>
            {% for title in test_titles %}
            {% if title == 'title 2' %}
            <li>{{ title }}</li>
            {% elif title == 'title 3' %}
            <li>見せられないよ</li>
            {% else %}
            <li>xxxx</li>
            {% endif %}
            {% endfor %}
        </ul>
    </ul>
</body>

</html>