@charset "utf-8";
* {
   box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url("../app_images/charles-etoroma-k78R0lDxd48-unsplash.jpg");
    background-size: cover;               
    background-attachment: fixed;        
    background-position: center center;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
   padding: 15px 12% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: transparent;
   display: flex;
   align-items: center;
}

h1 {
   margin: 0; 
   padding: 0;
   font-family: 'Dancing Script', cursive;
   font-style: normal;
   font-weight: normal;
   font-size: calc(30px + 3vw);
}
.header_subtitle {
    display: inline-block;
    margin-left: 7px;
    position: relative;
    top: -20%;
    font-family: Poiret One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

a {	
   display: inline-block;
   text-decoration: none;
   color: rgb(0, 0, 0);
}
nav {
   margin: 10px 0 0 auto;
}

ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 0px;
   font-size: 20px;
}

.search_form {
    border-right: 1px dotted #313030;
    margin-right: 25px;
    padding-right: 25px;
    position: relative;
    text-align: center;
}

::placeholder {
    color: #3b3a3a;
}

.search_input {
    width: 250px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #313030;
    line-height: 16px;
    padding-bottom: 3px;
    outline: none;
}
.fa-search {
    bottom: 8px;
    fill: none;
    position: absolute;
    right: 32px;
    stroke: #909090;
    border: none;
    outline: none;
    background-color: transparent;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
    height: 100%;
}

.img {
    height: 100px;
    width: 50px;
    position:relative;
    top:30%;
    left: 50%;
}




