<!DOCTYPE html>
{% load static %} <!-- settings.pyのstaticfileの設定を読み込む -->
<html>
    <head>
        <meta charset="utf-8">
        <title>showall</title>
        <link href="{% static "appcss/dressed.css" %}" rel="stylesheet" type="text/css" media="screen and (min-width:376px)">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="{% static "appcss/dressed.css" %}" rel="stylesheet" type="text/css" media="screen and (max-width:375px)">
    </head>
    <body>
        <h1>Your Human_body</h1>

        {% for image in images %}
            <img src='{{ MEDIA_URL }}{{image.picture}}' width=200>
            <h2>{{ image.human_name }}</h2>
        {% endfor %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>
</html>