<!-- 静的ファイルのURLを生成するstaticタグをロードする -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ヘッダー情報のタイトルを個別に設定できるようにする -->
        <title>{% block title %}{% endblock %}</title>
        
        <!-- アイコン、フォントの読み込み -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href={% static 'slick/slick.css' %}>
        <link rel="stylesheet" type="text/css" href={% static 'slick/slick-theme.css' %}>

        <link rel="stylesheet" href={% static "appcss/index.css" %}>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js" integrity="sha256-Ap4KLoCf1rXb52q+i3p0k2vjBsmownyBTE1EqlRiMwA=" crossorigin="anonymous"></script>
        <script type="text/javascript">
         $(function() {
             var height=$("header").height();
             $("main").css("margin-top", height + 10);
         });
         </script>
        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"> -->
        
    </head>
    <body>
        <header>
           <h1>
              <a href="/">CTOs<span class="header_subtitle">customer <div>try on service</div></span></a>
           </h1>
           <nav class="pc-nav">
              <ul>
                <li class="search_box">
                    <form class="search_form" action="#" method="get" autocomplete="off">
                        <input class="search_input" placeholder="search here"  type="search" name="q">
                        <input class="search_btn fas fa-search" type="submit" value="&#xf002;">
                    </form>
                </li>
                 <li><a href="{% url 'accounts:login' %}"><i class="fas fa-user-alt"></i></a></li>
              </ul>
           </nav>
        </header>
        <!-- メインコンテンツ -->
        <main>
            <!-- メインコンテンツの本体部分は各ページのテンプレートで埋め込む -->
            {% block contents %}{% endblock %}
        </main>
        <script src={% static 'slick/slick.min.js' %}></script>
        <script src={% static 'app_script/index.js' %}></script>
     </body>
</html>