<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'appcss/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'appcss/footer.css' %}" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'body.html' %}
        {% include 'footer.html' %}
        {% block contents %}{% endblock %}
        {% block footer %}{% endblock %}
        <script src="{% static 'appjs/bootstrap.bundle.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>

</html>